<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box3_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{0,0},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{202,0},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{404,0},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{606,0},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{808,0},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{0,166},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{202,166},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{404,166},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{606,166},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{808,166},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{0,332},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{202,332},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{404,332},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{606,332},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{808,332},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{0,498},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{202,498},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{404,498},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{606,498},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{808,498},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{0,664},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{202,664},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{404,664},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{606,664},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{808,664},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{0,830},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{202,830},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{404,830},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{606,830},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{808,830},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box3_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,166}</string>
                <key>spriteSourceSize</key>
                <string>{202,166}</string>
                <key>textureRect</key>
                <string>{{0,996},{202,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>treasure3.png</string>
            <key>size</key>
            <string>{1010,1162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:947e3def9d9dee393a3ab12cd3de9e04:9fa923e9122e5274035e7033a8760d32:0e26dd4a368ee0be44243ffa9fb5ac64$</string>
            <key>textureFileName</key>
            <string>treasure3.png</string>
        </dict>
    </dict>
</plist>
